{# {% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landing-page-gallery">
            {{ content }}

            {% for photo in meta.photo %}
                <a class="{{ photo.class }}" href="{{ base_url }}/technology/{{ photo.class }}">
                {# <a href="{{ base_url }}/technology/{{ tech.class }}"> #}
                {# <div class="photoclick {{ photo.class }}"> 
                    <h1>{{ photo.name }}</h1> #}
                    {# <img class="flash-img" src="{{ base_url }}/image/MinVinterBild1.jpg"> #}
                    {# <div>
                        <img class="flash-img" src="{{ base_url }}/image/MinVinterBild1.jpg">
                    </div> #}
                        

                {# </div>
            
                </a>
            
            {% endfor %}

        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html> #} 